.comment
  padding: 4.4rem 0 10rem
  background-color: $bg-alt
  &__title
    max-width: 85%
    font-size: 5.6rem
    font-weight: 500
    line-height: $lh-32-28
    letter-spacing: -0.056rem
    margin: 0 0 5.6rem
  &__rating
    margin-bottom: 6.4rem
  &__fieldset
    display: grid
    gap: 2.4rem
    margin-bottom: 4.4rem
  &__legend
    margin-bottom: 3rem
    // font-size: 3.2rem
    // line-height: calc( 18 / 16 )

  +lg
    padding: 5.2rem 0 8.8rem
    &__title
      max-width: none
      font-size: 4rem
      line-height: .9
      letter-spacing: -0.08rem
      margin-bottom: 3.7rem
    &__fieldset
      gap: 1.2rem
      grid-template-columns: repeat(3, 1fr)
      margin-bottom: 2.2rem
      &>:last-child
        grid-column: 1 / -1
    &__rating
      margin-bottom: 4.2rem
    &__legend
      margin-bottom: 1.5rem
