.conclusion
  padding: 4.6rem 0 5.6rem
  &__title
    font-size: 4.4rem
    line-height: $lh-30-22
    margin: 0 0 1.8rem
    font-weight: 500
    letter-spacing: -0.044rem
  &__text
    margin: 0
    font-size: 2.8rem
    line-height: 1.5
    letter-spacing: 0.028rem
  +lg
    padding: 4.5rem 0 7.6rem
    &__title
      margin-bottom: 1.6rem
      font-size: 2.8rem
      line-height: $lh-36-28
      letter-spacing: -0.056rem
    &__text
      font-size: 1.6rem
      line-height: 1.6
      letter-spacing: 0.016rem
