.promo
  padding: 3.8rem 0 8.6rem
  background-color: $bg-alt
  &__container
    display: flex
    justify-content: center
  &__content
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: min-content
  &__link
    align-self: flex-start
    text-decoration-line: underline
    color: $main-blue
    font-size: 12px
    font-weight: 500
    line-height: 1.5
    &::before
      display: inline-block
      content: 'Реклама на'
      text-decoration: none
      color: $text
      margin-right: 5px
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0
      transition: .4s
      background-color: #fff
      filter: blur(2rem)
    +hover
      &::after
        opacity: .2

  &__img
    overflow: hidden
    font-size: 0
    margin-bottom: 18px
  &__source
    height: 100%
    object-fit: contain
    object-position: center

  +lg
    padding: 6rem 0 7.2rem
    &__img
      margin-bottom: 13px
