.quote
  padding: 10rem 0
  &__title
    color: $text
    font-size: 4.4rem
    font-weight: 500
    line-height: $lh-30-22
    margin: 0 0 3.2rem
    letter-spacing: -0.044rem
  &__block
    position: relative
    margin: 0
  &__marker
    width: 7.6rem
    height: 7.6rem
    margin-bottom: 3.4rem
    color: $main-blue
  &__text
    color: #1A1A1A
    margin: 0 0 2.8rem
  &__author
    color: $text-ui
    font-size: 3rem
    line-height: 1.6
    letter-spacing: 0.03rem
    margin: 0
    &::before
      content: '— '

  +lg
    padding: 0 0 4.5rem
    &__title
      border-top: 0.2rem solid #DCDCDC
      padding-top: 2.5rem
      font-size: 2.8rem
      line-height: calc( 36 / 28 )
      margin-bottom: 3rem

    &__block
      padding: 0 0 0 5.8rem
    &__marker
      position: absolute
      top: 0
      left: 0
      width: 3.8rem
      height: 3.8rem
    &__text
      font-size: 1.8rem
      line-height: calc( 24 / 18 )
      margin: 0 0 2rem
    &__author
      font-size: 1.6rem
      line-height: 1.5
      letter-spacing: 0.016rem
